/** TITLE **/

header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.title__1 
{
    color:#3D6C64;
    font-weight: 200;
    font-size: 5em;
    margin-top: 0.2em;
    margin-bottom:0;
    padding-bottom: 0;
    font-family: 'Italiana', sans-serif;
}

.title__2 
{
    color:#3D6C64;
    font-weight: 400;
    font-size: 5em;
    margin-top: 0;
    margin-bottom:0;
    margin-left: 0.1em;
    font-family: 'Meow Script', sans-serif;
}
/** BACKGROUND **/
#container 
{
min-height: 100%;
min-width: 1024px;
/* On indique un redimensionnement proportionnel */
width: 100%;
height: auto;
/* L'image est positionnée en haut à gauche */
position: fixed;
top: 0;
left: 0;
/* L'image est positionnée en fond et est centrée */
background: url("/Projets/shifumi-moon/app/images/moonsun.jpg") no-repeat center;

/* Ajout de la propriété avec les préfixes pour tous les moteurs de rendu */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}


/** CHOICE **/

.form__wrapper
{
    background: url("/Projets/shifumi-moon/app/images/background-result.jpg") center;
    position: relative;
    width: 50em;
    height: 31em;
    border-radius: 2em;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.form 
{
    font-size: xxx-large;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.form__div__wrapper
{
    display: flex;

}

.form__div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form__label
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4em;
    font-family: 'Charmonman', sans-serif;
}

.form__input
{
    width: 1.5rem;
    height: 1.5rem;
    cursor: grab;
}



.form__submit
{
    margin: 1em;
    border-radius: 0.5em;
    background-color: #3D6C64; 
    color:white;
    border:none;
    cursor: pointer;
    font-family: 'Italiana', sans-serif;
}

.form__submit:hover
{
    background-color: #213b37 ;
}

/** RESULT **/

.result 
{
    font-size: 0.5em;
    display: flex;
    justify-content: space-between;
    font-family: 'Italiana', sans-serif;
    flex-direction: column;
    align-items: center;
}

.result__choice
{
    display:flex;
    margin-bottom: 0.5em;
}


.test
{
    color: #5ba196;
    font-family: 'Charmonman', sans-serif;
    padding-right: 1em;
}

/** FOOTER **/
